# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
/media/
/staticfiles/

# Environments
.env
.env.docker
.venv/
venv/

# IDEs
.vscode/
.idea/

# Logs
/logs
*.log
*.pot
*.mo

# macOS
.DS_Store

# other
*.md
*.pdf
*.rar
run_venv.bat
.coverage
/features/
# Autobuild install artifacts
.obvious-install/
.env
